
@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf');
}

@defaultPad: 4px;
@defaultMargin: 6px;
@transparent: rgba(0,0,0,0);
@fillBackground: fade(@wellBackground, 60%);
@borderColor: darken(@wellBackground, 7%);
@bodyBackground: lighten(@wellBackground, 50%);
@linkColor: @blue;
@navbarLinkColor: @grayDark;
@navbarLinkColorHover: @linkColor;

body {
    background-image: url('../images/gray_jean.png');
    background-color: @grayLighter;
    .dragging, .dragging * {
        cursor: move !important;
    }
    font-family: 'Open Sans';
}

h1 {
    font-family: 'Ubuntu';
}

input, textarea, .autocomplete-tagger {
    outline: none;
    .no-shadow;
    cursor: input;
    &:focus {
        cursor: input;
        .box-shadow(none) !important;
        .focus-editor;
    }
    &:hover {
        .hover-editor;
    }
}

.search-query {
    &:focus {
         border: 1px solid @borderColor !important;
    }
    &:hover {
         border: 1px solid @navbarLinkColorHover !important;
    }
}

.center-layout(@max-width) {
    max-width: @max-width;
    margin-left: auto;
    margin-right: auto;
}

.well {
    padding: @defaultPad;
    margin-bottom: @defaultMargin;
    background-color: @bodyBackground !important;
    background-image: url('../images/body-bg-texture-medium.png');
}

.well-border {
    .border-radius(@baseBorderRadius);
    border: 1px solid @borderColor;
}

.no-border {
    border: 0px;
}

.transparent-border {
    .border-radius(@baseBorderRadius);
    border: 1px solid transparent;
}

.focus-editor {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px dotted @navbarLinkColor;
    .border-radius(0);
}

.hover-editor  {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 1px dotted @navbarLinkColorHover;
    .border-radius(0);
}

.action-icon {
    cursor: pointer;
    color: @navbarLinkColor;
    &:hover {
        color: @navbarLinkColorHover;
    }
}

.no-action-icon {
    color: @navbarLinkColor;
    &:hover {
        color: @navbarLinkColor;
    }
}

.info-icon {
}

.a-lot-larger {
    font-size: 1.4em;
}

.larger {
    font-size: 1.2em;
}

.a-bit-larger {
    font-size: 1.1em;
}

.smaller {
    font-size: 0.8em;
}

.offset-top {
    margin-top: @defaultMargin / 2;
}

.fill {
    width: auto;
    height: auto;
}

.rest {
    width: '*';
}

.full-width {
    width: 100%;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-shadow {
    .box-shadow(0 0px 0px rgba(0,0,0,0.0));
}

.cut-width {
    min-width: 24px;
    max-width: 28px;
}

.indent {
    margin-left: @defaultMargin;
}

.pad {
    padding: @defaultPad;
}

.editing {
    .focus-editor;
}


.view {
    padding-top: 50px;
    .center-layout(720px);
}

.navbar-view {
    .center-layout(720px);
}

.default-padding {
    padding: @defaultPad;
}

.no-side-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.side-padding {
    padding-left: @defaultPad;
    padding-right: @defaultPad;
}

.nudge-down {
    margin-top: 2px;
}

.item {
}

.toolitem {
    .side-padding;
}

.transparent {
    opacity: 0;
}

.markdown {
    .display {
        .transparent-border;
        cursor: text;
        &:hover {
            .hover-editor;
        }
    }
    .collapsed {
        max-height: 120px;
        overflow: hidden;
    }
    .readonly {
        .transparent-border;
        cursor: default;
        &:hover {
            .transparent-border;
        }
    }
    .placeholder {
        cursor: text;
        color: @linkColor;
        font-style: italic;
    }
    .display, .oneline {
        p {
            margin: 1px;
        }
    }
    .twizzler {
        .action-icon;
        margin-right: @defaultMargin / 2;
    }
}

.markdown.readonly {
    border: 1px solid @transparent;
}

.check {
    cursor: pointer;
    color: @navbarLinkColor;
    &:hover {
        color: @navbarLinkColorHover;
    }
}

.check.readonly {
    color: @navbarLinkColor;
    cursor: default;
    &:hover {
        color: @navbarLinkColor;
    }
}

.icon {
    .a-lot-larger;
    &.icon-border {
        border-width: 2px;
        .border-radius(4px);
    }
}

.discussion {
    margin: 0px;
    margin-top: @defaultMargin;
}

.gravatar {
    img {
        border: 1px solid @navbarLinkColor;
        color: @borderColor;
        .border-radius(@baseBorderRadius);
        padding: 0px;
        background: @borderColor;
        width: 32px;
        height: 32px;
        &:hover {
            border-color: @navbarLinkColorHover;
        }
    }
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.comments {
    .comment {
        padding: @defaultPad;
        .postdate {
            color: @grayLight;
        }
        .username {
            color: @grayLight;
        }
        .comment-gravatar {
            vertical-align: top;
            border-right: @borderColor 1px solid;
            width: 40px;
        }
        .placeholder {
            margin-top: @defaultMargin;
        }
        td {
            padding-left: @defaultPad;
        }
    }
}

.trash {
    list-style: none;
    .no-margin;
    .no-padding;
    .trash-item {
        .well;
        .trash-item-content {
            .full-width;
        }
        .trash-item-footer {
            color: @grayLight;
            margin: @defaultMargin;
            .full-width;
        }
        .trash-item-undelete {
            min-width: 40px;
        }
    }
}

.tasks {
    .alert {
        margin: @defaultMargin;
    }
    .dragged {
        position: absolute;
        opacity: 0.8;
        z-index: 2000;
        .well-border;
    }
    list-style: none;
    .no-margin;
    .no-padding;
    .handle {
        position: absolute;
        margin-top: @defaultMargin / 2;
        left: -22px;
        .action-icon;
        color: @navbarLinkColor;
        cursor: move;
        .a-lot-larger;
    }
    .task-dirty {
        position: absolute;
        right: -14px;
        top: 0px;
        color: @red;
        .a-lot-larger;
        -webkit-transform:rotate(-90deg);
        //this is really a 'shadow as an outline', need a better way to stroke
        //text
        text-shadow: 0px 0px 1px @black;
    }
    .task {
        .tasks-subtasks {
            list-style: none;
            .no-margin;
            .no-padding;
            margin-left: 24px;
            .handle {
                left: 2px;
                position: static;
            }
        }
        .task-content {
            .well;
            margin-left: @defaultPad * 4;
            margin-right: @defaultPad * 4;
            margin-bottom: @defaultPad;
            margin-top: 0px;
            padding: 1px;
            position: relative;
        }
        .task-footer {
            color: @grayLight;
            margin: @defaultMargin;
            .full-width;
            .smaller;
        }
        .task-core {
            .full-width;
        }
        .task-subtask {
        }
        .task-accept {
            .full-width;
        }
        .task-poke {
            .full-width;
        }
        .task-extended {
            .full-width;
            margin-top: @defaultMargin;
            hr {
                .clearfix;
            }
        }
        .task-placeholder {
        }
        .task-tools {
            .clearfix;
            .full-width;
            margin-left: @defaultMargin;
            ul {
                .pull-left;
                display: inline-block;
                margin: 0px;
                margin-right: @defaultMargin;
            }
            li {
                .pull-left;
                display: inline-block;
                list-style: none;
            }
            .action {
                padding: 0px;
                margin-top: @defaultMargin / 2;
                margin-right: @defaultMargin * 2;
                .action-icon;
                .larger;
            }
            .gravatar {
                img {
                    width: 22px;
                    height: 22px;
                }
                width: 22px;
                height: 22px;
                margin-right: @defaultMargin / 2;
            }
            .typeahead {
                li {
                    float: none;
                    display: list-item;
                }
            }
        }
        .task-dicussion {
            .clearfix;
            .full-width;
        }
        .task-placeholder {
            .full-width;
        }
        .markdown {
            .full-width;
        }
        .task-action {
            width: 14px;
            i {
                .action-icon;
                .a-lot-larger;
            }
            padding-top: @defaultPad;
            padding-left: @defaultPad;
        }
        .task-pad {
            width: 16px;
        }
        .task-text {
            .full-width;
        }
    }
}

.notifications {
    list-style: none;
    .row;
    .no-margin;
    .notification {
        padding: @defaultPad;
        .no-margin;
        .alert;
        .alert-info;
        margin-bottom: @defaultMargin;
        a {
            .alert-info;
            .a-lot-larger;
        }
        .notification-message {
            .fill;
            vertical-align: middle;
        }
        .notification-icon {
            width: 30px;
            opacity: 0.5;
            font-size: 1.5em;
            vertical-align: top;
        }
        .notification-user {
            width: 30px;
            font-size: 1.5em;
            vertical-align: top;
        }
        td {
            .default-padding;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }
}

.users {
    .user {
        .well;
    }
    .user-avatar {
        padding: @defaultMargin;
        vertical-align: top;
    }
    .user-tasks {
        height: auto;
        padding: 0px;
        .user-task-action {
            vertical-align: top;
            padding: 0px;
            padding-right: @defaultPad;
            height: auto;
            .action {
                .action-icon;
            }
        }
        .user-task-what {
            a {
                color: @navbarLinkColor;
                &:hover {
                    color: @navbarLinkColorHover;
                }
            }
            padding: 0px;
            height: auto;
            p {
                margin: 0px;
            }
        }
    }
}



.bulkshare {
    .bulkshare-message {
        vertical-align: middle;
    }
    .btn-small {
        padding: 3px 9px;
    }
}

.top-left {
    position: absolute;
    z-index: 200;
    left: 0px;
    margin-top: -0.75em;
    margin-left: 0.25em;
}

.search-query {
    @media (min-width: 720px) {
        width: 340px;
    }
    @media (max-width: 720px) {
        width: 150px;
    }
}

.well {
    background-color: @fillBackground;
}

.tiny-well {
    .well-border;
    background-color: fade(@bodyBackground, 90%);
    background-image: url('../images/body-bg-texture-medium.png');
    min-width: 2em;
}

.CodeMirror {
    font-family: @baseFontFamily;
}

hr {
    margin: @defaultMargin;
}

.username {
    i {
        margin-right: @defaultMargin;
    }
}

.postdate {
    i {
        margin-right: @defaultMargin;
    }
}

.help {
    .pull-right;
    z-index: 2000;
    .icon-question {
        .action-icon;
    }
    margin-top: @defaultMargin;
    margin-bottom: @defaultMargin;
}

.helptext {
    text-align: left;
    .a-bit-larger;
}

.navbar {
    .form-search {
        .pull-right;
        padding-top: 6px;
        margin-right: @defaultMargin;
        position: absolute;
        right: 0px;
        z-index: 100;
        input {
            width: 20px;
        }
        input.focused {
            width: 300px;
        }
    }
    .nav {
        li {
            a {
                i {
                    .a-lot-larger;
                    vertical-align: middle;
                }
                padding-right: 1.5 * @defaultPad;
                padding-left: 1.5 * @defaultPad;
            }
            ul {
                .tagbar-search-choice {
                    background-color: @red;
                    background-color: @navbarLinkColor;
                    &:hover {
                        background-color: @navbarLinkColor;
                    }
                }
            }
            .gravatar {
                display: inline-block;
                padding-top: 4px;
                padding-bottom: 0px;
            }
            .toolbox {
                display: inline-block;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            .navtag {
                display: inline-block;
                padding-top: 10px;
                padding-bottom: 0px;
            }
        }
    }
    .navbar-view {
        position: relative;
    }
    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
}

.flashmessage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2000;
    width: 100%;
}

.settings {
    .well;
    h3 {
        margin: @defaultMargin;
    }
}

.highlight {
    background: @yellow;
}

.sorting.tasks-subtasks {
    ol {
        .well-border;
        min-height: 24px;
        margin-bottom: @defaultMargin;
        margin-right: @defaultMargin;
    }
    li {
        .no-border;
        margin-top: @defaultMargin;
        margin-bottom: @defaultMargin;
    }
}

.sorting.tasks {
    li {
        .no-border;
        margin-top: @defaultMargin;
        margin-bottom: @defaultMargin;
    }
}

.attention {
    border-bottom: 2px solid @red;
}
