<div ng-controller="Discussion" class="discussion">
    <ul editable-list
        editable-list-nested
        editable-list-blank-record
        ng-model="item.discussion.comments" class="container-fluid unstyled comments">
        <li
        ng-repeat="comment in item.discussion.comments"
        class="row-fluid comment">
        <table editable-record ng-model="comment" class="full-width">
            <tr>
                <td class="comment-gravatar">
                    <div
                        gravatar
                        default="user.email"
                        ng-model="comment.who">
                    </div>
                </td>
                <td class="fill">
                    <table>
                        <tr>
                            <td class="fill">
                                <span username ng-model="comment.who"></span>
                                <span postdate ng-model="comment.when"></span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fill"
                                <div
                                    markdown multiline
                                    readonly-if="user.email != comment.who"
                                    ng-model="comment.what">
                                    <span ng-show="focused" ng-include src="'src/views/discussionhelp.html'"></span>
                                </div>
                            </td>
                            <td animated-visible="hover && (user.email == comment.who)" class="task-action">
                                <span action="deleterecord" tooltip="'Delete this comment'"><i class="icon-trash"></i></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </li>
        <li class="row-fluid comment">
        <table
            editable-record
            editable-record-placeholder
            ng-model="$$placeholder" class="full-width">
            <tr>
                <td class="comment-gravatar">
                    <div
                        gravatar
                        default="user.email"
                        ng-model="comment.who"></div>
                </td>
                <td class="fill">
                    <div
                        markdown multiline
                        placeholder="'Your comment here'"
                        ng-model="$$placeholder.what">
                        <span ng-show="focused" ng-include src="'src/views/discussionhelp.html'"></span>
                    </div>
                </td>
            </tr>
        </table>
        </li>
    </ul>
</div>
