<div
    ng-controller="Navbar"
    ng-show="loggedIn"
    class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-view">
            <ul class="nav">
                <li class="dropdown" >
                <a href="/#/todo" tooltip="user.email" gravatar="user.email">
                </a>
                </li>
                <li>
                <a href="/#/settings" tooltip="'Your settings'">
                    <i class="icon-cogs"></i>
                </a>
                </li>
                <li>
                <a href="/#/trash" tooltip="'Look in the trash'">
                    <i class="icon-trash" attention-if="trash.itemCount()"></i>
                </a>
                </li>
                <li>
                <a href="/#/archive" tooltip="'Oldies but goodies, look in the Archive'">
                    <i class="icon-archive"></i>
                </a>
                </li>
                <li>
                <a href="/#/users" tooltip="'Check on other users'">
                    <i class="icon-user"></i>
                </a>
                </li>
                <li>
                <a href="/#/notifications" tooltip="'Read your notifications'">
                    <i class="icon-envelope-alt"></i>
                </a>
                </li>
                <li>
                <a clickable hotkey="+,addtask,newtaskplaceholder" tooltip="'Add a new task'">
                    <i class="icon-plus"></i>
                </a>
                </li>
                <li class="dropdown" ng-controller="Toolbox">
                <a data-toggle="dropdown" tooltip="'Filter the todo list'" class="toolbox">
                    <span ng-hide="!selected.gravatar" clickable gravatar="selected.gravatar" class="tagbar-tag-icon"></span>
                    <span ng-hide="selected.gravatar" clickable ng-model="selected.title" item-icon-from="selected.iconfrom" class="tagbar-tag navtag">
                        <span class="tagbar-tag-display">
                            <span class="tagbar-tag-text">{{selected.title}}</span>
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu tagbar-menu" role="menu">
                    <li ng-repeat="box in boxes" class="tagbar-tag">
                    <span class="tagbar-tag-display">
                        <a readonly-href="box.url || tagUrl(box.tag)" class="tagbar-tag-text">{{box.title}}</a>
                    </span>
                    </li>
                </ul>
                </li>
            </ul>
            <div class="form-search">
                <span class="input-append" hotkey="/,newsearch" tooltip="'Search your tasks'">
                    <input animated-focus focus-on="'newsearch'" delayed="searchquery" type="text" class="search-query">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </span>
            </div>
            <div hotkey="esc,deselect">
            </div>
        </div>
    </div>
</div>
