<div
    ng-controller="Navbar"
    ng-show="loggedIn"
    class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="navbar-view">
            <ul class="nav">
                <li class="dropdown" >
                    <a href="/#/todo" tooltip="user.email" gravatar  ng-model="user.email">
                    </a>
                </li>
                <li>
                <a href="/#/settings" tooltip="'Your settings'">
                    <i class="icon-cogs"></i>
                </a>
                </li>
                <li>
                <a href="/#/trash" tooltip="'Look in the trash'">
                    <i class="icon-trash"></i>
                    <span
                        ng-show="trash.itemCount()"
                        class="badge badge-important">{{trash.itemCount()}}
                    </span>
                </a>
                </li>
                <li>
                <a href="/#/users" tooltip="'Check on other users'">
                    <i class="icon-user"></i>
                </a>
                </li>
                <li>
                <a href="/#/notifications" tooltip="'Read your notifications'">
                    <i class="icon-envelope-alt"></i>
                    <span
                        ng-show="notifications.unreadCount()"
                        class="badge badge-important">{{notifications.unreadCount()}}
                    </span>
                </a>
                </li>
                <li>
                <a hotkey="+,addtask,newtaskplaceholder" tooltip="'Add a new task'">
                    <i class="icon-plus"></i>
                </a>
                </li>
                <li class="dropdown" ng-controller="Toolbox">
                <a data-toggle="dropdown" tooltip="'Filter the todo list'">
                    <span tag ng-model="selected.title" item-icon-from="selected.iconfrom" icon-only></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="box in boxes" ng-model="box">
                    <a ng-href="{{box.url || tagUrl(box.tag)}}">
                        <span tag ng-model="box.title" tag-url="box.url || tagUrl(box.tag)"></span>
                    </a>
                    </li>
                </ul>
                </li>
            </ul>
            <div class="form-search">
                <span class="input-append" tooltip="'Search your tasks'">
                    <input animated-focus delayed="searchquery" type="text" class="search-query">
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </span>
            </div>
            <div hotkey="esc,deselect">
            </div>
        </div>
    </div>
</div>
