<ul
    ng-controller="Notifications"
    ng-model="notifications"
    class="notifications">
    <li class="alert" ng-show="notifications.itemCount() == 0">
    No Notifications
    </li>
    <li
    ng-repeat="notification in notifications.items"
    class="notification">
    <table>
        <tr>
            <td class="notification-icon">
                <i class="notification-icon {{iconFor(notification)}}"></i>
            </td>
            <td class="notification-message">
                <div>
                    <span gravatar="notification.data.from" ng-visible="notification.data.from"></span>
                    <span postdate ng-model="notification.when"></span>
                </div>
                <div>
                    <span class="notification-message">
                        <a ng-href="/#/task/{{notification.data.link}}">{{notification.data.context.what}}</a>
                    </span>
                </div>
                <div markdown readonly ng-model="notification.data.message"></div>
            </td>
        </tr>
    </table>
    </li>
</ul>
