<ul
    ng-controller="Notifications"
    ng-model="notifications"
    class="notifications">
    <li class="alert" ng-show="notifications.itemCount() == 0">
    No Notifications
    </li>
    <li
    ng-repeat="notification in notifications.items"
    class="notification">
    <table class="notification-core">
        <tr>
            <td class="notification-gravatar">
                <div gravatar="notification.data.from"></div>
            </td>
            <td class="fill">
                <table>
                    <tr>
                        <td class="fill">
                            <span class="notification-icon {{iconFor(notification)}}"></span>
                            <span postdate ng-model="notification.when"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="fill">
                            <div class="notification-link">
                                <span >
                                    <a ng-href="/#/task/{{notification.data.link}}">{{notification.data.context.what}}</a>
                                </span>
                            </div>
                            <div class="notification-message" markdown readonly ng-model="notification.data.message"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </li>
</ul>
