<ul
    ng-controller="Tasks"
    editable-list
    editable-list-reorder="selected.tag"
    on-delete="delete"
    on-update="update"
    ng-model="selected.items"
    class="tasks">
    <!--repeat items-->
    <li
    ng-repeat="item in selected.items"
    editable-record
    ng-model="item"
    animated-hide="item.reject[user.email] || selected.hide(item)"
    class="task">
    <div>
        <div class="task-accept">
            <div ng-include src="'src/views/taskaccept.html'"></div>
        </div>
        <!--core attributes of a task item, these always show and bind-->
        <table class="task-core">
            <tr>
                <td  class="task-check"><span check ng-model="item.done"></span></td>
                <td>
                    <div markdown required ng-model="item.what" class="larger">
                        <span ng-show="focused" ng-include src="'src/views/taskhelp.html'"></span>
                    </div>
                </td>
                <td class="task-delete"><button ng-click="delete(item)" class="close"><i class="icon-trash"></i></button></td>
            </tr>
        </table>
        <!--this div is to control visibility-->
        <div ng-show="focused && item.what && extended" class="task-extended">
            <ul requires-object="extended.discussion" class="task-tools">
                <li ng-hide="true" action ng-click="poke(extended)"><i class="icon-hand-right"></i></li>
                <li tags tags-query="tags" icon="tags" ng-model="extended.tags"></li>
                <li tags tags-query="links" item-icon-from="gravatar" icon="user" ng-model="extended.links"></li>
            </ul>
            <div class="task-discussion">
                <div ng-include src="'src/views/discussion.html'"></div>
            </div>
            <hr/>
            <div class="task-footer">Last Updated:
                <span username ng-model="extended.lastUpdatedBy"></span>
                <span postdate ng-model="extended.lastUpdatedAt"></span>
            </div>
        </div>
    </div>
    </li>
    <!--the new record placeholder-->
    <li
    editable-record
    editable-record-placeholder="placeholderItem"
    ng-model="$$placeholder" ng-show="selected.allowNew" class="task">
    <div class="task-core">
        <span focus-on="newtask" markdown required ng-model="$$placeholder.what" placeholder="'New task here'" class="task-placeholder larger">
            <span ng-show="focused" ng-include src="'src/views/taskhelp.html'"></span>
        </span>
    </div>
    </li>
</ul>
