<div
  animated-hide="item.poke[user.email] || !item.poke || item.poke.poker == user.email"
  class="alert">
  <span>Poke from</span>
  <span gravatar ng-model="item.poke.poker"></span>
  <span class="btn-group">
    <button class="btn " ng-click="notstarted(item)"><i class="icon-frown icon-large"></i> Not Started</button>
    <button class="btn " ng-click="inprogress(item)"><i class="icon-smile icon-large"></i> In Progress</button>
    <button class="btn btn-danger" ng-click="blocked(item)"><i class="icon-exclamation icon-large"></i> Blocked</button>
    <button class="btn btn-success" ng-click="done(item)"><i class="icon-check icon-large"></i> Done</button>
  </span>
</div>
