<script type="text/ng-template" id="subtask.html">
<div>
                <table class="task-core">
                    <tr>
                        <td class="task-action">
                            <div handle class="icon-reorder subtask-handle" tooltip="'Drag to reorder'" >
                            </div>
                        </td>
                        <td class="task-check">
                            <span check ng-model="subtask.done" tooltip="'Mark done'"></span>
                        </td>
                        <td class="task-what">
                            <span search-highlight="searchQuery" markdown readonly-if="readonly" focus-on="subtask.id" placeholder="'New subtask here'" ng-model="subtask.what" class="larger"></span>
                        </td>
                        <td class="task-action" animated-visible="hover && !sorting">
                            <span action="deleterecord" tooltip="'Delete this subtask'"><i class="icon-trash"></i></span>
                        </td>
                    </tr>
                </table>
            </div>
            <ol class="tasks-subtasks">
            <li ng-repeat="subtask in subtask.subitems" editable-record ng-model="subtask" ng-include="'subtask.html'" class="task-subtask">
            </li>
            </ol>
</script>

<ol
    ng-controller="TaskList"
    editable-list
    editable-list-reorder
    on-reorder="tasksSorted"
    editable-list-new="newtask"
    drag-handle=".task-handle"
    ng-model="items"
    class="tasks">
    <li class="alert" ng-show="selected.itemCount() == 0">
    Nothing to see here...
    </li>
    <li ng-repeat="item in items"
    editable-record="updatetask"
    ng-controller="Task"
    ng-model="item"
    animated-hide="hide(item)"
    class="task">
    <div class="task-content" ng-init="task=item;">
        <div handle class="icon-reorder task-handle" ng-hide="readonly"
            tooltip="'Drag to reorder'">
        </div>
        <!-- accept/reject -->
        <div
            requires-object="task.accept, task.reject"
            animated-hide="hideAcceptReject(task)"
            class="alert">
            <span>Task from</span>
            <span gravatar ng-model="task.who"></span>
            <span class="btn-group">
                <button action="accepttask" class="btn btn-success"><i class="icon-ok-sign icon-large"></i> Accept</button>
                <button action="rejecttask" class="btn btn-danger"><i class="icon-remove-sign icon-large"></i> Reject</button>
            </span>
        </div>
        <!-- poke -->
        <div
            requires-object="task.links"
            animated-hide="hidePokeStatus(task)"
            class="alert">
            <span>Poke from</span>
            <span gravatar ng-model="task.poke.poker"></span>
            <span class="btn-group">
                <button action="notstartedtask" class="btn "><i class="icon-frown icon-large"></i> Not Started</button>
                <button action="inprogresstask" class="btn "><i class="icon-smile icon-large"></i> In Progress</button>
                <button action="blockedtask" class="btn btn-danger"><i class="icon-exclamation icon-large"></i> Blocked</button>
                <button action="donetask" class="btn btn-success"><i class="icon-check icon-large"></i> Done</button>
            </span>
        </div>
        <!-- this is the main visible todo -->
        <table class="task-core">
            <tr>
                <td class="task-check">
                    <span check ng-model="task.done" tooltip="'Mark done'"></span>
                </td>
                <td class="task-action" animated-visible="hover && !sorting">
                    <span action="subtask" ng-hide="readonly" tooltip="'Add a subtask'"><i class="icon-level-down"></i></span>
                </td>
                <td class="task-what">
                    <div search-highlight="searchQuery" markdown readonly-if="readonly" ng-model="task.what" class="larger">
                        <span ng-show="focused" ng-include src="'src/views/taskhelp.html'"></span>
                    </div>
                </td>
                <td class="task-action" animated-visible="hover && !sorting">
                    <span action="deletetask" eat-click ng-hide="task.done || readonly" tooltip="'Straight to the trash!'"><i class="icon-trash"></i></span>
                    <span action="archivetask" eat-click ng-hide="!task.done || readonly" tooltip="'Archive old tasks'"><i class="icon-download-alt"></i></span>
                </td>
            </tr>
        </table>
        <ol animated-show="focused || debug"
            editable-list
            editable-list-reorder
            editable-list-nested
            drag-handle=".subtask-handle"
            ng-model="task.subitems" class="tasks-subtasks">
            <li ng-repeat="subtask in task.subitems" editable-record ng-model="subtask" ng-include="'subtask.html'" class="task-subtask">
            </li>
        </ol>
        <div animated-show="(focused && task.what) || debug" class="task-extended">
            <ul requires-object="task.discussion" class="task-tools">
                <li action="poketask" ng-hide="readonly"><i class="icon-hand-right"></i></li>
                <li tags readonly-if="readonly" tags-query="tags" tag-url="tagUrl" icon="tags" ng-model="task.tags"></li>
                <li tags readonly-if="readonly" tags-query="links" tag-url="userUrl" item-icon-from="gravatar" status-icon-from="pokestatus" icon="user" ng-model="task.links"></li>
            </ul>
            <div class="task-discussion">
                <div ng-include src="'src/views/discussion.html'"></div>
            </div>
            <hr/>
            <div class="task-footer">Last Updated:
                <span username ng-model="task.lastUpdatedBy"></span>
                <span postdate ng-model="task.lastUpdatedAt"></span>
            </div>
        </div>
    </div>
    </li>
    <!--the new record placeholder-->
    <li
    editable-record
    editable-record-placeholder
    ng-model="$$placeholder" ng-show="selected.allowNew" class="task">
    <div class="task-content">
        <div class="task-core">
            <span focus-on="newtaskplaceholder" markdown ng-model="$$placeholder.what" placeholder="'New task here'" class="task-placeholder larger">
                <span ng-show="focused" ng-include src="'src/views/taskhelp.html'"></span>
            </span>
        </div>
    </div>
    </li>
</ol>
