<div help>
    <div class="helptext">
        <div class="helptext">
            Save by hitting!
            <em>↵</em>
            or
            <em>ctrl</em>
            +
            <em>↵</em>
            or clicking away. You can also mark up with markdown.
        </div>
        <div class="helptext">
            Just under the tasks, there are a few fun features:
        </div>
        <ul class="icons-ul helptext">
            <li><i class="icon-li icon-tags"></i>Tags help you organize and find tasks</li>
            <li><i class="icon-li icon-user"></i>Share tasks with other users</li>
            <li><i class="icon-li icon-ok-sign"></i>Users that have accepted the task</li>
            <li><i class="icon-li icon-remove-sign"></i>Users that have rejected the task</li>
        </ul>
    </div>
</div>
