<div ng-controller="Trash">
    <ul ng-model="trash" class="trash">
        <li class="alert" ng-show="trash.itemCount() == 0">
        Nothing in the Trash
        </li>
        <li ng-repeat="(id, item) in trash.items()" class="trash-item">
        <table>
            <tr>
                <td class="trash-item-undelete">
                    <span action="updateitem" ng-model="item">
                        <i class="icon-mail-reply"></i>
                        <i class="icon-trash"></i>
                    </span>
                </td>
                <td><div markdown readonly ng-model="item.what"></div></td>
            </tr>
        </table>
        <hr/>
        <div class="trash-item-footer">
            <div postdate ng-model="item.lastUpdatedAt"></div>
        </div>
        </li>
        <li><a action="emptytrash" ng-show="trash.itemCount()" class="btn btn-large btn-danger"><i class="icon-trash icon-large"></i> Empty Trash</a></li>
    </ul>
</div>
