<div
    class="notifications">
    <ul class="notifications">
        <li class="notification">
        <table>
            <tr>
                <td class="notification-user">
                    <span gravatar="from"></span>
                </td>
                <td class="notification-message">
                    <div render-markdown>
You are looking at **another User's list**. Remember, this is a shared system so
you can:

* Edit, as this is a shared system
* Comment
* Tag
* Stack Rank, but be polite!

                    </div>
                </td>
            </tr>
        </table>
        </li>
    </ul>
</div>
<div ng-include="'src/views/tasks.html'">

</div>
