<div ng-controller="Discussion">
    <ul editable-list ng-model="comments" class="container-fluid unstyled comments">
        <li editable-record ng-repeat="comment in discussion.comments" class="row-fluid comment">
        <div class="span2">
            <div readonly-gravatar ng-model="comment.who"></div>
            <div readonly-postdate ng-model="comment.what"></div>
        </div>
        <div class="span10">
            <div editable-comment ng-model="comment.what"></div>
        </div>
        </li>
    </ul>
</div>
