<div ng-controller="Navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="form-search pull-right navbar-content">
            <div class="input-append">
                <input type="text" class="search-query input-xlarge larger">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
            <span gravatar size="38" ng-model="user.email" tooltip="user.email" tooltip-placement="bottom"></span>
        </div>
    </div>
</div>

