<div ng-controller="Navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="form-search pull-right navbar-content">
            <span class="btn-group no-margin">
                <button dropdown ng-controller="Toolbox" class="btn">
                    <span tag ng-model="selected.title"></span>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="box in boxes" active-if="selected == box" ng-model="box">
                        <a href="#" ng-click="selectBox(box)" ng-init="count=todoCount(box);">
                            <span tag ng-model="box.title" animated-show="box.filter"></span>
                            <span animated-visible="count" class="offset-top pull-right badge badge-important transparent">{{count}}</span>
                        </a>
                        </li>
                    </ul>
                </button>
                <button dropdown on-dropdown="showNotifications()" ng-controller="Notifications" class="btn">
                    <i class="icon icon-envelope-alt" > </i>
                    <span class="badge badge-important">{{database.notifications.unreadCount()}}</span>
                    <ul class="dropdown-menu" data-role="menu">
                        <li ng-repeat="notification in notifications" ng-model="notifications">
                        </li>
                        <li>aaaa</li>
                        <li>bbbb</li>
                    </ul>
                </button>
                <button class="btn"
                    ng-click="toggleBulkShare()">
                    <i class="icon icon-user"
                        tooltip="'bulk share tasks'"
                        tooltip-placement="bottom"></i>
                </button>
            </span>
            <span class="input-append">
                <input delayed="searchQuery" type="text" class="search-query">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </span>
            <span ng-controller="User"
                <span gravatar
                    ng-model="user.email"
                    tooltip="user.email"
                    tooltip-placement="left"></span>
            </span>
        </div>
    </div>
</div>

