<div ng-controller="Navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="form-search pull-right navbar-content">
            <span class="btn-group no-margin">
                <button class="btn" ng-include src="'src/views/toolbox.html'"></button>
                <button class="btn"
                    ng-click="toggleBulkShare()">
                    <i class="icon icon-user"
                        tooltip="'bulk share tasks'"
                        tooltip-placement="bottom"></i>
                </button>
            </span>
            <span class="input-append">
                <input delayed="searchQuery" type="text" class="search-query">
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </span>
            <span gravatar
                ng-model="user.email"
                tooltip="user.email"
                tooltip-placement="left"></span>
        </div>
    </div>
</div>

