<div class="hero-unit">
    <h1>Commitments</h1>
    <p class="lead">Keeping track of what <strong><em>we</em></strong> said we'd do.</p>
    <div class="container-fluid">
        <div class="row-fluid">
            <span ng-repeat="(email,authtoken) in sampleUsers">
                <a gravatar
                    ng-model="email"
                    tooltip="email"
                    tooltip-placement="bottom"
                    ng-href="#/login/{{authtoken}}"></a>
            </span>
        </div>
    </div>
</div>
