<div ng-controller="Toolbox">
    <span tag ng-model="selected.title" data-toggle="dropdown"></span>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="box in boxes" active-if="selected == box" ng-model="box">
        <a href="#" ng-click="selectBox(box)" ng-init="count=todoCount(box);">
            <span tag ng-model="box.title" animated-show="box.filter"></span>
            <span animated-visible="count" class="offset-top pull-right badge badge-important transparent">{{count}}</span>
        </a>
        </li>
    </ul>
</div>
