<div ng-controller="Toolbox" class="well no-side-padding tagboxes">
  <ul class="nav nav-list">
    <li ng-repeat="box in boxes" animated-show="box.filter" active-if="selected == box">
    <a href="#" ng-click="selectBox(box)">
      <span animated-visible="box.todoCount().length" class="badge badge-important countbadge">{{box.todoCount().length}}</span>
      <span class="fixedbox" animated-show="box.filter">{{box.title}}</span>
    </a>
    </li>
    <li class="divider"></li>
  </ul>
  <ul editable-list-reorder handle=".handle" class="nav nav-list">
    <li ng-repeat="box in tags" active-if="selected == box" editable-record ng-model="box">
    <span tooltip="'drag to reorder'" class="icon icon-move a-lot-larger handle centered muted" ></span>
    <a href="#" ng-click="selectBox(box)">
      <span animated-visible="box.todoCount().length" class="badge badge-important countbadge">{{box.todoCount().length}}</span>
      <span tag ng-model="box.title" animated-show="box.filter" class="tagbox"></span>
    </a>
    </li>
  </ul>
</div>
