
@tagColor: @infoText;
@tagBorderColor: darken(@tagColor, 5%);
@tagTextColor: lighten(@textColor, 0%);
@defaultHeight: 22px;

.line-height {
    line-height: @defaultHeight;
}

.tag {
    display: inline-block;
}

.tag-display {
    display: inline-block;
}

.tagbar-input {
}

.tagbar-container {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.tagbar-search-choice {
    .label;
    background-color: @infoText;
}

.tagbar-icon-only {
    background-color: transparent;
}

.tagbar-search-choice-editable {
    &:hover {
        .focus-editor;
    }
}

.tagbar-status-icon {
    display: inline;
    font-size: 1.4em;
    margin-right: @defaultMargin / 2;
    position: relative;
    top: 1px;
}

.tagbar-search-choice-label {
    margin-left: @defaultMargin / 2;
    margin-right: @defaultMargin / 2;
    padding: 0px;
    font-size: 1.1em;
    display: inline;
    .line-height;
    a {
        color: @white;
    }
}

.tagbar-search-choice-close {
    cursor: pointer;
    margin-left: @defaultMargin / 2;
    margin-right: @defaultMargin / 2;
    padding: 0px;
    font-size: 1.5em;
    display: inline;
    position: relative;
    top: 2px;
}

.tagbar-item-icon {
    display: inline;
    .border-radius(@baseBorderRadius);
    border: 0px solid transparent;
    height: @defaultHeight;
    margin-right: @defaultMargin / 2;
    position: relative;
    margin-top: -3px;
    margin-left: -1px;
    margin-bottom: 0px;
}

.tagbar-result-icon {
    display: inline;
    .border-radius(@baseBorderRadius);
}


.tagbar-highlighted {
    a {
        color: @dropdownLinkColorActive !important;
        text-decoration: none;
        outline: 0;
        #gradient > .vertical(@dropdownLinkBackgroundActive, darken(@dropdownLinkBackgroundActive, 5%));
    }
}

//when a query is active
.tagbar-active {
}

.tagbar-choices {
    border: none;
    background-color: transparent;
    position: relative;
    margin: 0px;
    li {
        float: left;
        list-style: none;
        margin: @defaultMargin / 2;
        margin-bottom: 0px;
        padding: 0px !important;
    }
    li.tagbar-search-choice {
        padding: 0px;
        display: inline-block;
        height: @defaultHeight;
        border: 1px solid transparent;
    }
    li.tagbar-search-field {
        height: 100%;
        cursor: text;
        &:focus {
            margin-left: @defaultMargin;
        }
    }
    li.tagbar-icon {
        margin: 0px;
        margin-top: @defaultMargin;
        padding: 0px;
        cursor: pointer;
        &:hover {
            .editable-text-shadow;
        }
    }
}

.tagbar-choices.readonly {
    .tagbar-icon {
        cursor: default;
        &:hover {
            .readonly-text-shadow;
        }
    }
}
.tagbar-search-choice-close.readonly {
    display: none;
}

.tagbar-results {
    width: 100%;
    min-width: 220px;
    height: auto;
    max-height: 160px;
    overflow: scroll;
    position: absolute;
    li {
        list-style: none;
        display: list-item;
        text-align: left;
        width: 100%;
    }
}

