
@tagColor: @infoText;
@tagBorderColor: darken(@tagColor, 5%);
@tagTextColor: lighten(@textColor, 0%);
@defaultHeight: 22px;
@defaultLineHeight: 20px;

.line-height {
    line-height: @defaultLineHeight;
}

.tagbar-container {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

//styles for individual tags
.tagbar-tag {
    padding: 0px;
    display: inline-block;
    margin-right: @defaultMargin;
    .border-radius(@baseBorderRadius);
}

.tagbar-tag-has-icon {
    display: none !important;
}

.focus.tagbar-has-icon {
    display: inline-block !important;
}

.tagbar-tag-icon {
    display: inline;
    .pull-left;
    .border-radius(@baseBorderRadius);
    border: 1px solid @navbarLinkColor;
    height: @defaultHeight;
    position: relative;
    margin-right: -4px;
}

.hover.tagbar-tag-icon {
    border: 1px solid @navbarLinkColorHover;
}

.tagbar-tag-display {
    .label;
    .pull-left;
    background-color: @navbarLinkColor;
    .border-radius(@baseBorderRadius);
    &:hover {
        background-color: @navbarLinkColorHover;
    }
}

.focus.tagbar-tag-display {
    display: inline-block !important;
}

.tagbar-tag-text {
    margin-left: @defaultMargin / 2;
    margin-right: @defaultMargin / 2;
    padding: 0px;
    font-size: 1.1em;
    display: inline;
    .line-height;
    color: @white;
    &:hover {
        color: @white;
    }
}

.tagbar-tag-delete {
    cursor: pointer;
    margin-left: @defaultMargin / 2;
    margin-right: @defaultMargin / 2;
    padding: 0px;
    font-size: 1.4em;
    position: relative;
    top: 2px;
}


.tagbar-active {
}

.tagbar-choices {
    border: none;
    background-color: transparent;
    position: relative;
    margin: 0px;
    li {
        float: left;
        list-style: none;
        margin: @defaultMargin / 2;
        margin-bottom: 0px;
        padding: 0px !important;
    }
    li.tagbar-icon {
        margin: 0px;
        margin-top: @defaultMargin;
        padding: 0px;
        cursor: pointer;
        .action-icon;
    }
}

.tagbar-results {
    width: 100%;
    min-width: 220px;
    height: auto;
    max-height: 160px;
    overflow: scroll;
    position: absolute;
    li {
        list-style: none;
        display: list-item;
        text-align: left;
        width: 100%;
    }
}

.tagbar-result-icon {
    display: inline;
    .border-radius(@baseBorderRadius);
    height: @defaultHeight;
    margin-right: @defaultMargin / 2;
}

.tagbar-highlighted {
    a {
        color: @dropdownLinkColorActive !important;
        text-decoration: none;
        outline: 0;
        background-color: @navbarLinkColorHover;
    }
}
