
@defaultPad: 6px;
@defaultMargin: 6px;
@transparent: rgba(0,0,0,0);


.shadowed {
  .box-shadow(0 2px 5px rgba(0,0,0,.2));
}

.display {
  font-size: 1.2em;
}


//get the left navigation to stay on screen
.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

//styles for our bits

body {
    background-image: url('../images/body-bg-texture-medium.png');
}

.taskpad {
  margin-top: 60px;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.item {
  padding: @defaultPad;
  margin: @defaultMargin;
  border: 1px solid darken(@wellBackground, 7%);
  .border-radius(@baseBorderRadius);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

.markdown {
  .border-radius(@baseBorderRadius);
  border: 1px dotted @transparent;
  &:hover {
    border: 1px solid darken(@wellBackground, 7%);
    .box-shadow(0 2px 5px rgba(0,0,0,0.5));
  }
  cursor: text;
  .placeholder {
    color: @linkColor;
    font-style: italic;
  }
}

.markdown.readonly {
  border: 1px solid @transparent;
  .box-shadow(0 2px 5px rgba(0,0,0,0.0));
}

.icon {
  font-size: 1.5em;
  &.icon-border {
    border-width: 2px;
    .border-radius(4px);
  }
  &:hover{
      text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  }
}

.discussion {
  margin: 0px;
  margin-top: @defaultMargin;
}

.comments {
  .comment {
    padding: @defaultPad;
    .gravatar {
      img {
        border: 1px solid darken(@wellBackground, 7%);
        .border-radius(@baseBorderRadius);
      }
      text-align: center;
    }
    .postdate {
      text-align: center;
    }
    .popover {
      .shadowed;
      position: relative;
      display: block;
      float: left;
      padding: @defaultPad;
      min-width: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}

//tweaking base bootstrap
//Tweak the popover a tiny bit
.popover {
  .border-radius(@baseBorderRadius);
  border-color: darken(@wellBackground, 25%);
  &.right .arrow {
    border-right-color: darken(@wellBackground, 25%);
    &:after {
      border-right-color: darken(@wellBackground, 25%);
    }
  }
  &.top .arrow {
    border-top-color: darken(@wellBackground, 25%);
    &:after {
      border-top-color: darken(@wellBackground, 25%);
    }
  }
  &.bottom .arrow {
    border-bottom-color: darken(@wellBackground, 25%);
    &:after {
      border-bottom-color: darken(@wellBackground, 25%);
    }
  }
  &.left .arrow {
    border-left-color: darken(@wellBackground, 25%);
    &:after {
      border-left-color: darken(@wellBackground, 25%);
    }
  }
}


