@defaultPad: 6px;

.fill {
    height:100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('../images/bg-brown.jpg');
}

.desktop {
    margin: 0 auto;
    padding: @defaultPad * 4;
    max-width: 1200px;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    height: 100%;
    padding: @defaultPad;
    border: 1px solid @grayDarker;
    .box-shadow(0 1px 5px rgba(0,0,0,.75));
    .border-radius(@baseBorderRadius);
    #gradient > .vertical(@grayDark, darken(@grayDark, 5%));
}

.toolbox {
    height: 100%;
    overflow: auto;
    .border-radius(@baseBorderRadius);
    border: 1px solid @grayDarker;
    .box-shadow(0 2px 5px rgba(0,0,0,.75));
    background-image: url('../images/body-bg-texture.png');
    .nav {
        li, a {
            text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        }
        a:hover {
            text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
            color: lighten(@linkColor, 5%);
            background-color: transparent;
        }
        .divider {
            background-color: @gray;
            border-bottom: 1px solid @grayDark;
        }
        i {
            margin-right: -12px;
            color: @linkColor;
            float: right;
            font-weight: bold;
        }
    }
    .form-search {
        margin: 6px;
        width: 50%;
    }
}

.workpad {
    height: 100%;
    overflow: auto;
    padding: @defaultPad;
    .border-radius(@baseBorderRadius);
    border: 1px solid @grayDarker;
    background-color: @wellBackground;
    background-image: url('../images/body-bg-texture-heavy.png');
    .box-shadow(0 2px 5px rgba(0,0,0,.75));
}

.items {
    li {
        margin: 6px;
        padding: @defaultPad;
        .border-radius(@baseBorderRadius);
        .box-shadow(inset 0 1px 3px rgba(0,0,0,.15));
        background-color: darken(@wellBackground, 2%);
    }
}

.editableText {
    cursor: pointer;
}
