
@defaultPad: 6px;
@defaultMargin: 6px;
@transparent: rgba(0,0,0,0);


.well-border {
  .border-radius(@baseBorderRadius);
  border: 1px solid darken(@wellBackground, 7%);
}

.focus-editor {
  border: 1px solid @inputBorder;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
}

.hover-editor  {
  border: 1px solid @inputBorder;
  border-color: rgba(82,168,236,.8);
}

.editable-shadow {
  .box-shadow(inset 0 1px 1px rgba(0,0,0,0.1));
}

.editable-text-shadow {
  text-shadow:  0px 1px 1px rgba(0,0,0,.075), 0px 0px 8px rgba(82,168,236,.6);
  //text-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.a-lot-larger {
  font-size: 1.4em;
}

.larger {
  font-size: 1.2em;
}

.a-bit-larger {
  font-size: 1.1em;
}

.tooltip {
  .a-bit-larger;
}

.fill {
  width: auto;
}

.full-width {
  width: 100%;
}

.cut-width {
  min-width: 24px;
  max-width: 28px;
}

.shadowed {
  .box-shadow(0 1px 5px rgba(0,0,0,.2));
}

.display {
  .larger;
}

.indent {
  margin-left: @defaultMargin;
}

.pad {
  padding: @defaultPad;
}

.editing {
  .focus-editor;
}
//get the left navigation to stay on screen
.sidebar-nav-fixed {
  position:fixed;
  top:60px;
  width:21.97%;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    position:static;
    width:auto;
  }
}


//styles for our bits

body {
  background-image: url('../images/gray_jean.png');
}

.taskpad {
  margin-top: 60px;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.side-padding {
  padding-left: @defaultPad;
  padding-right: @defaultPad;
}

.no-margin {
  margin: 0px !important;
}

.item {
  .well;
  padding: @defaultPad;
  margin-bottom: @defaultMargin;
  background-color: @bodyBackground;
  background-image: url('../images/body-bg-texture-medium.png');
}

.toolitem {
  .side-padding;
}

.item-tools {
  .icon {
    padding-top: @defaultPad;
    padding-bottom: @defaultPad;
  }
  .deleter {
    color: @grayLight;
  }
}

.hover-tools {
  .tiny-well;
  opacity: 0;
  position: absolute;
  right: 0px;
  width: 1em;
  margin-top: 0.5em;
  margin-right: 0em;
  z-index: 100;
}

.display {
  padding: @defaultPad;
}

.markdown {
  border: 1px solid transparent;
  .border-radius(@baseBorderRadius);
  &:hover {
    .hover-editor;
  }
  cursor: text;
  .placeholder {
    color: @linkColor;
    font-style: italic;
  }
  .display, .oneline {
    p {
      margin: 1px;
    }
  }
}

.markdown.readonly {
  border: 1px solid @transparent;
  .box-shadow(0 0px 0px rgba(0,0,0,0.0));
}

.date-display {
  font-size: 1.25em;
}

.count-display {
  font-size: 1.25em;
}

.icon {
  font-size: 1.5em;
  &.icon-border {
    border-width: 2px;
    .border-radius(4px);
  }
  &:hover{
    .editable-text-shadow;
  }
}

.discussion {
  margin: 0px;
  margin-top: @defaultMargin;
}

.checkoff {
  .display;
  .no-side-padding;
  .pull-left;
}

.gravatar {
  border: 1px solid darken(@wellBackground, 7%);
  .border-radius(@baseBorderRadius);
  padding: 1px;
  img {
    .border-radius(@baseBorderRadius);
  }
  text-align: center;
}

.comments {
  .comment {
    padding: @defaultPad;
    .postdate {
      text-align: center;
    }
    .popover {
      .shadowed;
      position: relative;
      display: block;
      float: left;
      padding: @defaultPad;
      min-width: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}

.navbar-content {
  margin-right: @defaultMargin;
}

.handle {
  opacity: 0;
  position: absolute;
  right: 0px;
  margin-top: -0.75em;
  margin-right: -0.25em;
  z-index: 200;
  &.centered {
    margin-top: 0.25em;
    margin-right: 0;
  }
}

.handled {
}

.countbadge {
  position: relative;
  top: -1.5 * @defaultMargin;
  left: -2.5 * @defaultMargin;
  z-index: 100;
  @media (max-width: 720px) {
    .badge {
      font-size: 0.8em;
    }
  }
}

.tagboxes {
  @media (max-width: 720px) {
    .label {
      font-size: 0.8em;
    }
    .badge {
      font-size: 0.8em;
    }
    .handle {
      display: none !important;
    }
    .nav-list {
      .li {
      }
      a {
        padding: @defaultPad;
        padding-right: 0px;
        margin-left: -3px;
        margin-right: -3px;
      }
      .overlay {
        margin-right: -2px;
      }
      padding-right: @defaultPad / 2;
      padding-left: @defaultPad / 2;
    }
    .tagbar-search-choice {
      padding: 1px;
      margin: 1px;
      margin-left: @defaultMargin / 2;
    }
    .tagbar-search-choice-content {
      display: inline;
      padding: 1px;
    }
  }
}

.tagbox {
  position: relative;
  left: -24px;
}

.fixedbox {
  position: relative;
  left: -20px;
}

//tweaking base bootstrap
//Tweak the popover a tiny bit
.popover {
  .border-radius(@baseBorderRadius);
  border-color: darken(@wellBackground, 25%);
  &.right .arrow {
    border-right-color: darken(@wellBackground, 25%);
    &:after {
      border-right-color: darken(@wellBackground, 25%);
    }
  }
  &.top .arrow {
    border-top-color: darken(@wellBackground, 25%);
    &:after {
      border-top-color: darken(@wellBackground, 25%);
    }
  }
  &.bottom .arrow {
    border-bottom-color: darken(@wellBackground, 25%);
    &:after {
      border-bottom-color: darken(@wellBackground, 25%);
    }
  }
  &.left .arrow {
    border-left-color: darken(@wellBackground, 25%);
    &:after {
      border-left-color: darken(@wellBackground, 25%);
    }
  }
}

.well {
  background-color: fade(@wellBackground, 60%);
}

.tiny-well {
  .well-border;
  background-color: fade(@bodyBackground, 90%);
  background-image: url('../images/body-bg-texture-medium.png');
  min-width: 2em;
}

//tweaking jQuery UI
.ui-datepicker-title {
  font-size: 1.25em;
}

.ui-datepicker table {
  font-size: 1.25em;
}

.CodeMirror {
  font-family: @baseFontFamily;
  .larger;
}
