
@tagColor: @linkColor;
@tagColorHighlight: darken(@linkColor, 5%);
@tagTextColor: lighten(@textColor, 0%);

.tagbar-container {
    display: inline-block;
    vertical-align: top;
}

.tagbar-search-choice {
    .label;
    .pop-text;
    margin-right: @defaultMargin;
    padding: 0px;
    .buttonBackground(@tagColor, @tagColorHighlight);
    .box-shadow(0 1px 2px rgba(0,0,0,.5));
    .border-radius(@baseBorderRadius);
    &:hover{
        .box-shadow(0 2px 5px rgba(0,0,0,.5));
        background-color: lighten(@tagColor, 5%);
    }
    &:first-child {
        margin-left: @defaultMargin;
    }
}

.tagbar-search-choice-close {
    color: @textColor;
    cursor: pointer;
    padding: @defaultPad / 2;
}

.tagbar-search-choice-content-container {
    margin-right: @defaultMargin / 2;
}

.tagbar-search-choice-content {
    color: @tagTextColor;
    padding: @defaultPad / 2;
    margin-left: @defaultMargin / 2;
}

.tagbar-search-choice-content-separator {
    .box-shadow(@defaultMargin/2 0px 2px rgba(0,0,0,.5));
    .border-radius(@baseBorderRadius);
    padding-left: @defaultPad;
}

.tagbar-search-choice-content-bookend {
    padding: @defaultPad / 2;
}

.tagbar-search-field {
}

.tagbar-input {
    .pop-text;
    margin-left: @defaultMargin;
}

.tagbar-highlighted {
    .border-radius(@baseBorderRadius);
    background-color: @tagColor;
}

//when a query is active
.tagbar-active {
}

.tagbar-choices {
    border: none;
    background-color: transparent;
    .pop-text;
    position: relative;
    margin: 0px;
    li {
    float: left;
    list-style: none;
    }
}

.tagbar-results {
    max-height: 200px;
    position: relative;
    overflow-y: auto;
    margin: 0px;
    ul {
        margin: 0px;
    }
    li {
        padding: @defaultPad;
        list-style: none;
        display: list-item;
    }
}

